/* Menu principal */
header{
    background: rgb(6,44,164);
    background: linear-gradient(90deg, rgba(6,44,164,1) 6%, rgba(238,227,6,0.6899802157191002) 48%, rgba(0,19,255,1) 100%);
    color: yellow;
    padding: 10px;
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Aplicando Efectos al menu */
.menuDos {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.menuDos:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #fdf907;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.menuDos:hover:before, .menuDos:focus:before, .menuDos:active:before {
    left: 0;
    right: 0;
}

ul li{
    display: inline-block;
    width: 150px;
    text-align: center;
    color:white;
}


section{
    text-align: center;
}

footer{
    background: rgb(6,44,164);
    background: linear-gradient(90deg, rgba(6,44,164,1) 6%, rgba(238,227,6,0.6899802157191002) 48%, rgba(0,19,255,1) 100%);
    color: yellow;
    margin: 0;
}
.parrafo1{
    margin: 20px;
    border: 10px groove;
    color: yellow;
}
