/* IMPORT */
@import "estilosgenerales";
@import "menuprincipal";
@import "bordesybody";
@import "animyfondo";
@import "formygrids";
@import "responsive";

/*  MAPS Y MAP-GET */


$estilos: (
    color: #ebdf37,
    centro: center,
    1rem : 1rem
);

.parrafo1 {
    background-color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    padding: map-get($estilos, 1rem);
}

/*  EXTEND  */

.parrafo1 {
    margin: 20px;
    border: 10px groove;
    color: black;
}

.parrafo2{
    @extend .parrafo1;
    background-color:rgb(199, 216, 199);
    color:rgb(37, 37, 35);
}

/*  MIXIN  */


@mixin color ($color) {
    color: $color;
}

p {
    @include color(rgb(221, 217, 217))
}
